<!DOCTYPE html>
<html lang="en" ng-app="myApp">

  <head>
    <meta charset="UTF-8">
    <title>StageHand</title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/inbox.css" rel="stylesheet">
  </head>

  <body ng-controller="Inbox">
    <ng-include autoscroll="" onload="" src="'templates/navBar.html'"></ng-include>
    <div class="container">
      <div class="row clearfix mainDiv">
        <div class="col-xs-12 column">
          <div class="page-header">
            <div class="alert alert-success" ng-show="showSuccessAlert">
              <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
              <strong>Done!</strong> {{successTextAlert}}
            </div>
            <h1>
              {{user.firstName}}'s Messages
            </h1>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xs-2 column">

          <div class="btn-group btn-group-md">
            <br/><br/><br/>
            <br/>
            <div>
              <a href="#">
                <button class="btn btn-default" type="button" ng-click="setTab(1)">
                  <em class="glyphicon glyphicon-align-left"></em>Inbox</button>
              </a>
              <div>
                <br/>
                <a href="#">
                  <button class="btn btn-default" type="button" ng-click="setTab(2)">
                    <em class="glyphicon glyphicon-align-left"></em>Sent</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8 column">
          <table class="table table-condensed" style="background-color: #FFFFFF;">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th colspan="2">
                  Message
                </th>
                <th>
                  From
                </th>
                <th>
                  Date
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-show="panelNumber(1)">

                <tr ng-repeat-start="message in inMessages">
                  <td>
                    {{$index+1}}
                  </td>
                  <td colspan="2">
                    <a data-target="#{{$index+1}}" data-toggle="collapse" ng-click="toggleRead(message)">{{message.title}}</a>
                  </td>
                  <td>
                    <p>{{message.senderId}}</p>
                  </td>
                  <td>
                    {{message.creationDate}}
                  </td>
                  <td>
                    {{message.read}}
                  </td>
                </tr>
                <tr class="collapse messageRow" id="{{$index+1}}" ng-repeat-end>
                <td>#</td>
                <td></td>
                <td colspan="4">{{message.body}}</td>
                <td>
                  <a href="#">
                    <button class="btn btn-default btn-xs" data-target=".bs-example-modal-lg" data-toggle="modal" type="button" ng-click="setMessage(message)">
                      <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                    </button>
                  </a>
                </td>
              </tr>

            </tbody>
            <tbody ng-show="panelNumber(2)">
                <tr ng-repeat-start="message in outMessages">
                  <td>
                    {{$index+1}}
                  </td>
                  <td colspan="2">
                    <a data-target="#{{$index + inMessages.length + 1}}" data-toggle="collapse">{{message.title}}</a>
                  </td>
                  <td>
                    <p>{{message.senderId}}</p>
                  </td>
                  <td>
                    {{message.creationDate}}
                  </td>
                  <td>
                      Sent
                  </td>
                </tr>
                <tr class="collapse messageRow" id="{{$index + inMessages.length + 1}}" ng-repeat-end> <!-- Added to index to avoid toggling hidden table's rows -->
                <td>#</td>
                <td></td>
                <td colspan="5">{{message.body}}</td>
              </tr>

            </tbody>
          </table>

          <!-- Large modal -->

          <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="form-group" style="width: 50%; margin: 0 auto;">
                  <div style="width: 75%; margin: 0 auto;">
                    <h2 class="form-signin-heading">Message</h2>
                    <input class="form-control" ng-model="messageTitle" name="messageTitle" placeholder="Message Title" type="text" value=""/>
                    <input class="form-control" ng-model="messageBody" name="messageBody" placeholder="Message" type="text" value=""/>
                    <input class="form-control" ng-model="id" name="id" placeholder="User Id" style="display: none;" type="text" value=""/>
                    <button class="btn btn-primary btn-lg btn-block" style="width: 50%;" data-target=".bs-example-modal-lg" data-toggle="modal" type="submit" ng-click="sendMessage()">Send Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- End modal -->

        </div>
        <div class="col-xs-2 column"></div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-resource.js"></script>
  <script src="myApp.js"></script>
  <script src="inbox.js"></script>
</body>

</html>
