<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="jobdisplay">
<head>
  <meta charset="UTF-8">
  <title>{{job.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jobs.css">
</head>

<body>
  <div class="container-fluid full">
    <div class="row clearfix full">
      <div class="col-xs-2 black full">
      </div>
      <div class="col-xs-10 full">
        <h2>{{job.name}}</h2>
        <ul>
          <li>{{job.description}}</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-resource.js"></script>
  <script src="myApp.js"></script>
</body>

</html>
