<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>Who do you want to do what where?</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jobs.css">
</head>

<body>
  <div class="container-fluid full">
    <div class="row clearfix full">
      <div class="col-xs-2 black full">
      </div>
      <div class="col-xs-10 full">
        <h2>Job Name</h2>
        <ul>
          <li>Job Description</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
</body>

</html>
