<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="jobdisplay">
<head>
    <meta charset="UTF-8">
    <!--
    a new Job display based on the version Daisy made.
    She never merged that part, but the UI is passable so I'm using it over the other one.
    Maybe we should consider taking one of the stylesheets for these pages
    and having it be the stylesheet for every page?
    -->
    <title>{{userjob.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/jobs.css">


    <title>Table Properties</title>
    <link rel="stylesheet" href="css/jobdisplay.css">

</head>

<body>

<div class="container-fluid full" >
    <ng-include autoscroll="" onload="" src="'templates/navBar.html'"></ng-include>
    <div class="row clearfix full" style="margin-top:20px">


            <h1 class="test/css">Job Detail</h1>
            <style>
                h3 {
                    text-align: center;
                }
            </style>
            <style>
                img
                {
                    text-align: center;
                }
            </style>

            <img src="http://questgarden.com/160/45/3/130619033321/images/Birthday-Party-1.jpg"  alt="baloons" align="middle" style="width:100px;height:100px;">


            <h3> {{userjob.title}}</h3>

            <p>{{userjob.description}}</p>
            <button class="btn btn-success btn-lg btn-block" ng-cloak ng-show="notOwner" ng-disabled="applied"  ng-click="apply()" type="submit">
                Apply
            </button>
            <button class="btn btn-success btn-lg btn-block" ng-cloak ng-show="!notOwner" ng-disabled="userjob.modifiable != null && !userjob.modifiable" ng-click="edit()" type="submit">
                Edit
            </button>
            <h2 ng-cloak ng-show="applied">Viewable Applications</h2>
            <div class="row panel panel-default" ng-cloak ng-repeat="app in applications | orderBy:'-creationDate'">
                <div class="col-md-2"><h2>{{app.name}}</h2></div>
                <div class="col-md-8"><h3><a ng-href="/profile?email={{app.ownerId}}">Profile</a></h3></div>
                <div class="col-md-2">
                <button class="btn btn-success btn-lg btn-block" ng-show="!notOwner && !(app.sent && app.signed)" ng-disabled="app.sent" ng-click="acceptApplication(app)" type="submit">
                    Send Contract
                </button>
                <button class="btn btn-success btn-lg btn-block" ng-show="!notOwner && app.sent && app.signed && app.payments == 0" ng-disabled="deposited" ng-click="partialDeposit(app)" type="submit">
                    Send First Payment
                </button>
                <button class="btn btn-success btn-lg btn-block" ng-show="!notOwner && app.sent && app.signed && app.payments > 0" ng-disabled="app.payments > 1" ng-click="partialDeposit(app)" type="submit">
                    Send Second Payment
                </button>
                </div>
            </div>
            <!-- begin wwww.htmlcommentbox.com -->
            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
            <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
            <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1444505289626");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
            <!-- end www.htmlcommentbox.com -->



    </div>
    </div>
    </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" type="text/javascript"></script>
<script src="myApp.js"></script>
<script src="jobdisplay.js"></script>
</html>
