<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>Who do you want to do what where?</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/jobs.css">
</head>

<body>
  <ng-include autoscroll="" onload="" src="'templates/navBar.html'"></ng-include>
  <div class="container-fluid full"  ng-controller="jobcreate" style="margin-top:20px">
    <div class="row clearfix full">

      <div class="col-xs-2"></div>

      <div class="col-xs-8 full" style="margin-top: 5%;">
        <span>
          <img src="images/clapperboard.svg" alt="clapperboard" class="clapper center-block" />
          <h1>Set the Stage!</h1>
        </span>
        <form class="form-login ng-pristine ng-valid job-form center-block" ng-Submit="submit()" role="form">
          <div class="input-group ">
            <div class="input-group-addon">
              Title:
            </div>
            <input class="form-control" placeholder="Who and What" ng-model="userjob.title" type="text" required>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Location:
            </div>
            <input class="form-control" placeholder="Where" ng-model="userjob.location" type="text" required>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Time:<!-- Time isn't working with datetime-local, but really like UI of datetime-local. Need a fix. -->
            <!-- Other problem: nice datepicker only in Chrome!-->
            </div>
            <input class="form-control" placeholder="When" ng-model="userjob.time" type="datetime-local" required>

          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Wages:
            </div>
            <input class="form-control" placeholder="Why" ng-model="userjob.wages" type="text" currency-formatter>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Description:
            </div>
            <textarea class="form-control" placeholder="How" ng-model="userjob.description" type="text" required></textarea>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Terms:
            </div>
            <input class="form-control" placeholder="List tags here separated by commas" ng-model="userjob.terms" type="text">
          </div>
          <div class="">
            <button class="btn btn-danger btn-lg btnDiv" ng-click="delete()" type="button">
              {{cancelText}}
            </button>
            <button class="btn btn-success btn-lg btnDiv" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="myApp.js"></script>
  <script src="jobcreate.js"></script>

</body>

</html>
