<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>StageHand</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/updateProfile.css">
</head>

<body>
  <ng-include autoscroll="" onload="" src="'templates/navBar.html'"></ng-include>
  <div class="container-fluid full"  ng-controller="Update">
    <div class="row clearfix full">

      <div class="col-xs-2">
      </div>

      <div class="col-xs-8 full" style="margin-top: 10%;">
        <span>
          <img src="images/clapperboard.svg" alt="clapperboard" class="clapper center-block" />
          <h1>{{user.firstName + " " + user.lastName}}</h1>
        </span>
        <form class="form-login ng-pristine ng-valid job-form center-block" ng-Submit="submit()" role="form">
          <div class="input-group ">
            <div class="input-group-addon">
              User Name:
            </div>
            <input class="form-control" placeholder="Who and What" ng-model="user.userName" type="text" required>
          </div>
          <div class="input-group ">
            <div class="input-group-addon">
              About:
            </div>
            <input class="form-control" placeholder="Describe Yourself" ng-model="user.about" type="text" required>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Skills:
            </div>
            <input class="form-control" placeholder="Skills separated by ','" ng-model="user.skills" type="text" required>
          </div>
          <div class="input-group">
            <div class="input-group-addon">
              Videos:<!-- Time isn't working with datetime-local, but really like UI of datetime-local. Need a fix. -->
            <!-- Other problem: nice datepicker only in Chrome!-->
            </div>
            <input class="form-control" placeholder="Youtube Links Separated by ','" ng-model="user.videoLinks" type="text" required>

          </div>
          <div class="">
            <button class="btn btn-danger btn-lg btnDiv" ng-click="">
              Cancel
            </button>
            <button class="btn btn-success btn-lg btnDiv" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
      <div class="col-xs-2">
        <ng-include src="'templates/sideBar.html'" onload="" autoscroll=""></ng-include>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular-resource.js"></script>
  <script src="myApp.js"></script>
  <script src="updateProfile.js"></script>

</body>

</html>
