@font-face {
    font-family: Lato;
    src: url(http://fonts.googleapis.com/css?family=Georgia);
    font-weight: bold;
}

h1{
  text-align: center;
  font-family: Lato;
  font-style: italic;
  color: #a31111;
}
hr{
  margin-top: -10px !important;
  padding-top: 0px !important;
}
.redText{
  font-size: 30px;
  font-family: Lato;
  font-style: italic;
  color: #a31111;
}
#HCB_comment_box, h3{
  font-size: 30px;
  font-family: Lato;
  font-style: italic;
  color: #a31111;
}

body {
    background-color: #FFFFFF !important;
    font-family: Arial, Verdana, sans-serif;
    color: #111111;}
table {
    width: 600px;}
th, td {
    padding: 7px 10px 10px 10px;}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;}
tr.even {
    background-color: #efefef;}
tr:hover {
    background-color: #c3e6e5;}
.money {
    text-align: right;}
