@font-face {
    font-family: Lato;
    src: url(http://fonts.googleapis.com/css?family=Georgia);
    font-weight: bold;
}

.mainDiv{
  margin-top: 10%;
  height: 100%;
}
html, body{
height: 100%;
}
.profileImage{
  width: 85%;
  margin-bottom: 5%;
}

hr{
  margin-top: -10px !important;
  padding-top: 0px !important;
}

h1{
  font-size: 50px;
  text-align: center;
  font-family: Lato;
  color: #a31111;
}

.redText{
  color: #A51919;
}
#homeHeader{
  text-align: center;
  margin-top: 10px;
  color: #A51919;
  font-family: Lato;
font-weight: bold;
font-style: italic;
font-size: 50px;
}
