@font-face {
    font-family: Lato;
    src: url(http://fonts.googleapis.com/css?family=Georgia);
    font-weight: bold;
}

.job-form > div > div {
    width: 100px;
    text-align: right;
}
.job-form > div{
    width: 100%;
    margin-bottom: 1px;
}
.clapper{
  width: 100px;
  height: auto;
}

.job-form{
  padding-top: 5%;
  width: 75%;
}
html, body{
height: 100%;
}

.black {
background-color: black;
height: 100%;
}

.full {
  height: 100%;
}
.btnDiv{
  display: inline-block !important;
  margin-top: 5px;
  margin-left: 10px;
  width: 48% !important;
}
h1{
  font-size: 50px;
  text-align: center;
  font-family: Lato;
  color: #a31111;
}
