html, body {
  height: 100%;
}
.full {
  height: 100%;
}
.loginPane {
  width: 65%;
  height: auto;
}
.black {
  background-color: black;
  height: 100%;
}

.headerText{
  color: #A51919;
}

.mainDivs{
  padding-top: 5%;
}
#signInButton{
    background-color: #A51919 !important;
}

ul.nav.nav-tabs.nav-justified li a {
    color: #A51919;
}
