@font-face {
    font-family: Lato;
    src: url(http://fonts.googleapis.com/css?family=Georgia);
    font-weight: bold;
}

.mainDiv{
  margin-top: 10%;
  height: 100%;
}
html, body{
height: 100%;
}
.profileImage{
  width: 85%;
  margin-bottom: 5%;
}


h1{
  text-align: center;
  font-family: Lato;
  font-style: italic;
  color: #a31111;
}
