<!-- Message modal -->

<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade fire-modal-lg" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" style="padding-bottom: 50px;">
    <div class="modal-content">
      <div class="form-group" style="width: 50%; margin: 0 auto;">
        <div style="width: 75%; margin: 0 auto; padding-bottom: 50px;">
          <h2 class="form-signin-heading">Fire Performer</h2>
          <input class="form-control" ng-model="firingMessage" name="messageBody" placeholder="Please indicate why the firing is necessary." type="text" value=""/>
          <input class="form-control" ng-model="id" name="id" placeholder="User Id" style="display: none;" type="text" value=""/>
          <button class="btn btn-primary btn-lg btn-block" style="width: 50%; margin-top: 15px;" data-target=".bs-example-modal-lg" data-toggle="modal" type="submit" ng-click="sendMessage()">Fire</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- End modal -->
