<link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
<link href="css/navBar.css" rel="stylesheet">

<nav class="navbar navbar-inverse navBack navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" style="display: inline-block;" href="/" target="_self">
        <!-- <img src="images/logo.png" class='navbarIcon' alt="logoIcon"/> -->
        <span class="logo">StageHand</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_self" href="/profile">My Account</a></li>

            <li><a target="_self" href="/jobHistory">Job History</a></li>
            <li><a target="_self" href="/about">About</a></li>
            <li role="separator" class="divider"></li>
            <li><a target="_self" href="/logout">Logout</a></li>
          </ul>
        </li>
        <li></li> <!-- spacer -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
